@font-face {
  font-family: 'MyFont';
  src: url('css/Tetris.otf') format('truetype');
}
.border{}
.main{
    display: flex;
    height: 100vh;
    width: 50dvh;
    font-size: 40px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    color: aliceblue;
    background-image: url("../images/board2.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 0;
    bottom: 0;
}
header{
    font-family: "My font";
    margin-top: 60px;
    font-size: 40pt;
    color: #fff;
text-shadow: 1px 1px 0px #cccccc, 0px 0px 3px rgba(255, 255, 255, 0.6);
}
.alert {
    border-radius: 10px;
    padding: 15px;
    margin: 15px auto;
    max-width: 400px;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
}

.summary-alert {
    background-color: rgba(24, 15, 15, 0.6);
    color: antiquewhite;
    /* border: 2px solid #80deea; */
    text-align: left;
    padding: 20px;
}

.summary-alert span {
    display: block;
    margin: 10px 0;
    font-size: 0.95em;
    color: antiquewhite;
}

.summary-alert .summary-title {
    font-size: 1.3em;
    margin-bottom: 10px;
    color: antiquewhite;
}

.summary-alert .buttons {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.summary-alert button {
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.95em;
    border: none;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

.summary-alert button:hover {
    transform: scale(1.05);
}

.menu-button {
    background-color: #970404;
    color: white;
}

.menu-button:hover {
    background-color: #af1717;
}

.menu-button:active{
    background-color: #fd0000;
}

.play-button {
    background-color: #004904;
    color: white;
}

.play-button:hover {
    background-color: #026406;
}

.play-button:active {
    background-color: #009605;
}