.main{
    display: flex;
    height: calc(100% - 6px);
    font-size: 40px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    color: aliceblue;
    padding-left: 3px;
    padding-right: 3px;
    border: #7b89c5 3px solid;
}
header{
    font-family: "My font";
    margin-top: 60px;
    font-size: 40pt;
}