.button {
    font-size: 30px;
    background-color: rgba(96, 102, 107, 0.5);
    color: antiquewhite;
    margin: 15px;
    padding: 10px 20px; /* Zwiększenie paddingu dla lepszego wyglądu */
    border-radius: 8px; /* Zaokrąglone rogi */
    cursor: pointer;
    z-index: 1;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Subtelny cień tekstu */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Dodanie lekkiego cienia do przycisku */
    transition: all 0.3s ease; /* Gładkie przejście przy hover i click */
}


.button:hover{
    background-color: rgba(96, 102, 107, 0.7);
}

.button:active{
    background-color: rgba(96, 102, 107, 0.9);
}
.klocek_menu{
    position: absolute;
    font-size: medium;
    width: 20dvh;
    z-index: -1;
    bottom: 120dvh;
}

.klocek{
    animation: drop 10s forwards linear;
}

@keyframes drop{
0%{bottom: 120dvh;}
100%{bottom: 0;}
}

.klocek2 {
    animation: drop2 9.5s forwards linear;
}

@keyframes drop2{
    0%{bottom: 120dvh;}
    100%{bottom: 5dvh;}
    }

.klocek3{
    animation: drop3 9s forwards linear;
}

@keyframes drop3{
    0%{bottom: 120dvh;}
    100%{bottom: 10dvh;}
    }

.klocek4{
    animation: drop4 8.5s forwards linear;
}

@keyframes drop4{
    0%{bottom: 120dvh;}
    100%{bottom: 15dvh;}
    }

.flip{
    transform: rotate(90deg);
}

.flip2{
    transform: rotate(180deg);
}


.klocek5{
    animation: drop5 8s forwards linear;
}

@keyframes drop5{
    0%{bottom: 120dvh;}
    100%{bottom: 5dvh;}
    }

.klocek6{
    animation: drop6 8s forwards linear;
}

@keyframes drop6{
    0%{bottom: 120dvh;}
    100%{bottom: 20dvh;}
    }

.klocek7{
    animation: drop7 8s forwards linear;
}

@keyframes drop7{
    0%{bottom: 120dvh;}
    100%{bottom: 25dvh;}
    }

.klocek8{
    animation: drop8 8s forwards linear;
}

@keyframes drop8{
    0%{bottom: 120dvh;}
    100%{bottom: 30dvh;}
    }

.klocek35{
    animation: drop35 8s forwards linear;
}

@keyframes drop35{
    0%{bottom: 120dvh;}
    100%{bottom: 35dvh;}
    }

.klocek9{
    animation: drop9 8s forwards linear;
}

@keyframes drop9{
    0%{bottom: 120dvh;}
    100%{bottom: 40dvh;}
    }

.klocek45{
    animation: drop45 8s forwards linear;
}

@keyframes drop45{
    0%{bottom: 120dvh;}
    100%{bottom: 45dvh;}
    }

.klocek10{
    animation: drop10 8s forwards linear;
}

@keyframes drop10{
    0%{bottom: 120dvh;}
    100%{bottom: 50dvh;}
    }

.klocek11{
    animation: drop11 8s forwards linear;
}

@keyframes drop11{
    0%{bottom: 120dvh;}
    100%{bottom: 55dvh;}
    }

.klocek12{
    animation: drop12 8s forwards linear;
}

@keyframes drop12{
    0%{bottom: 120dvh;}
    100%{bottom: 60dvh;}
    }

.klocek13{
    animation: drop13 8s forwards linear;
}

@keyframes drop13{
    0%{bottom: 120dvh;}
    100%{bottom: 65dvh;}
    }