html, .body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
}

.body{
    background-image: url("../images/tetris.jpg");
    background-size: 800px 550px;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    background-size: contain;
    background-color: #161b47;
}