html, .body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.body{
    background-size: 800px 550px;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    background-size: contain;
    background-position: center;
    align-items: center;
    background-image: url("../images/Background_anim.gif");
}